body {
    margin: 0;
    padding: 0;
    background: #0b001f;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    border: 3px solid #ababff;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    color: #ababff;
    outline: none;
    transition: .8s;
    transition-delay: .2s;
}

.input.click{
    padding: 10px;
    padding-right: 60px;
    width: 300px;
    background: #221b3d;
    border-radius: 10px;
}

.bth {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    background: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

span {
    position: absolute;
    width: 40px;
    height: 3px;
    top: 65px;
    left: 65px;
    background-color: #ababff;
    border-radius: 50px;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .2s;   
}

span:nth-child(1).click {
    top: 50%;
    left: 90%;
    background: #a83068;
}

span:nth-child(2) {
    top: 50%;
    left: 90%;
    opacity: 0;
    transition-delay: .2s;
}

span:nth-child(2).click {
    transform: translate(-50%, -50%) rotate(135deg);
    background: #a83068;
    opacity: 1;
}